{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
{{ form.seminar_id }}

<div class="row">
  <div class="col-md-12">
    {{ form.vote_options }}
  </div>
  <div class="col-md-12">
    {{ form.actions.submit }}
  </div>
</div>